@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.flight-card {
  background-color: $gray-200;
  border-radius: $radius-lg;
  box-shadow: $shadow-sm;
  padding: $spacing-6;
  margin-bottom: $spacing-6;

  &__section {
    background-color: $white;
    border-radius: $radius-lg;
    box-shadow: $shadow-md;
    overflow: hidden;
    margin-bottom: $spacing-6;

    &--depart {
      margin-bottom: $spacing-6;
    }

    &--return {
      margin-bottom: $spacing-6;
    }

    &--no-return {
      background-color: $gray-200;
      color: $gray-800;
    }
  }

  &__header {
    padding: $spacing-2 $spacing-4;
  }

  &__header--depart,
  &__header--return {
    background-color: $primary !important;
    color: $white !important;
  }

  &__title {
    font-size: $font-size-lg;
    font-weight: bold;
  }

  &__no-return {
    padding: $spacing-2 $spacing-4;
    background-color: $gray-200;
    color: $gray-800;
  }
}
