@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;
@use '../../styles/breakpoints' as *;

.search-results__filter {
  display: flex;
  align-items: center;
  gap: $spacing-4;
  margin-bottom: $spacing-4;
  padding-left: $spacing-4;

  @include mobile {
    flex-direction: column;
  }

  label {
    display: flex;
    align-items: center;
    gap: $spacing-2;
    font-size: $font-size-base;
    color: $gray-600;

    input {
      margin-right: $spacing-2;
    }
  }

  select {
    padding: $spacing-2;
    border: 1px solid $gray-300;
    border-radius: $radius-md;
    font-size: $font-size-base;
    color: $gray-600;
  }
}